# Add any directories, files, or patterns you don't want to be tracked by version control
.vs
MazeGame.VC.opendb
/MazeGame/GameApp/Debug
/Debug
/MazeGame/GameApp/Release
/GameApp/Release
/Release
/MazeGame/*.sdf
/MazeGame/x64
/MazeGame/Debug
Release
